body{
    background: linear-gradient(rgba(255, 165, 0, 1), rgb(253, 130, 15), white);
}
h1, h3, legend{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color:  rgba(255, 165, 0, 1);
    text-decoration: underline;
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
img{
    width: 190px;
    display: inline-block;
    border-radius: 5px;
}
.main{
    display: block;
    margin: auto;
    width: 1200px;
    background-color: white;
    padding-left: 10px;
    color: black;
    border-radius: 10px;
}
h1{
    flex: 6;
    width: 650px;
    margin: auto;
    padding-top: 80px;
}
legend{
    font-size: 22px;
    font-weight: 900;
}
fieldset{
    width: 500px;
    margin: auto;
}
#email{
    width: 200px;
}
#adresse{
    width: 250px;
}
label
{
	display:block;
    width: 200px;
    float: left;
}
form{
    display: flex;
    flex-direction: row;
}
a{
    color:  rgb(255, 252, 250);
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
ul {
    list-style-type: none;
    text-align: center;
    padding-bottom: 10px;
}
li{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}
li:hover{
    background-color: black;
    transform : skewX(-10deg);
}
#btn{
    background-color:  rgba(255, 165, 0, 1);
    border-radius: 10px;
    border: rgba(255, 165, 0, 1);
    color: white;
    font-size: bold;
    width: 120px;
    height: 30px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 200px;    
}
#btn:hover{
    background-color: green;
}
#signature{
    font-weight: bold;
    color: #ffa500;
}
strong{
    color: red;
}
.contenu{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: #ffa500;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
    color: rgb(255, 252, 250);
}
.img{
    display: flex;
    flex-direction: row;
}
#taille{
    width: 300px;
    display: block;
    margin-left: 80px;
}
#chat{
    width: 320px;
    display: block;
    margin-left: 80px;
}
#lapin{
    width: 210px;
    display: block;
    margin-left: 80px;
}
footer{
    margin-top: 35px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 10px;
    color: rgb(255, 252, 250);
    background-color: rgb(253, 130, 15);
    margin-right: 10px;
    border-radius: 10px;
}
footer p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
footer h3{
    color: rgb(255, 252, 250);   
    border: 2px solid  rgb(255, 252, 250);
    border-radius: 10px;
    width: 400px;
    margin: auto;
    text-decoration: none;
}
footer ul{
    color: rgb(255, 252, 250);   
}
